.green-icon {
    color: rgb(5, 73, 5);
  }
  .red-text {
    color: rgb(95, 5, 5);
  }
  
  .green-text {
    color: rgb(2, 69, 2);
  }
  .add-icon {
    color: rgb(4, 70, 4);
  }
  
  .edit-icon {
    color: rgb(95, 2, 2);
  }
  
  