<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Dashboad'" [items]="['Home']" [active_item]="'Dashboad'"></app-breadcrumb>
    </div>
    <div class="row ">
      <div class="col-xl-8 ">
        <div class="card">
          <div class="header">
            <h2>Project Survay</h2>
            <button mat-icon-button [matMenuTriggerFor]="menu" class="header-dropdown">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <mat-icon>add_circle_outline</mat-icon>
                <span>Add</span>
              </button>
              <button mat-menu-item disabled>
                <mat-icon>delete_outline</mat-icon>
                <span>Delete</span>
              </button>
              <button mat-menu-item>
                <mat-icon>refresh</mat-icon>
                <span>Refresh</span>
              </button>
            </mat-menu>
          </div>
          <div class="body p-5">
            <apx-chart [series]="projectOptions.series!" [chart]="projectOptions.chart!" [yaxis]="projectOptions.yaxis!"
              [xaxis]="projectOptions.xaxis!" [labels]="projectOptions.labels!" [stroke]="projectOptions.stroke!"
              [plotOptions]="projectOptions.plotOptions!" [markers]="projectOptions.markers!"
              [grid]="projectOptions.grid!" [fill]="projectOptions.fill!" [tooltip]="projectOptions.tooltip!"
              [colors]="projectOptions.colors!">
            </apx-chart>
          </div>
        </div>

      </div>
      <div class="col-xl-4 ">
        <div class="row">
          <div class="col-lg-6">
            <div class="card card-statistic-2">
              <div class="clearfix">
                <div class="card-right">
                  <div>
                    <h6 class="float-end">Earning</h6>
                  </div>
                  <div class="m-r-10 m-l-10">
                    <h5 class="font-weight-bold float-end mb-0"> $20,125</h5>
                  </div>
                </div>
              </div>
              <apx-chart [series]="smallChart1Options.series!" [chart]="smallChart1Options.chart!"
                [xaxis]="smallChart1Options.xaxis!" [yaxis]="smallChart1Options.yaxis!"
                [colors]="smallChart1Options.colors!" [stroke]="smallChart1Options.stroke!"
                [legend]="smallChart1Options.legend!" [tooltip]="smallChart1Options.tooltip!"
                [dataLabels]="smallChart1Options.dataLabels!"></apx-chart>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="card card-statistic-2">
              <div class="clearfix">
                <div class="card-right">
                  <div>
                    <h6 class="float-end">New Clients</h6>
                  </div>
                  <div class="m-r-10 m-l-10">
                    <h5 class="font-weight-bold float-end mb-0"> 129</h5>
                  </div>
                </div>
              </div>
              <apx-chart [series]="smallChart2Options.series!" [chart]="smallChart2Options.chart!"
                [xaxis]="smallChart2Options.xaxis!" [yaxis]="smallChart2Options.yaxis!"
                [colors]="smallChart2Options.colors!" [stroke]="smallChart2Options.stroke!"
                [legend]="smallChart2Options.legend!" [tooltip]="smallChart2Options.tooltip!"
                [dataLabels]="smallChart2Options.dataLabels!"></apx-chart>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="card card-statistic-2">
              <div class="clearfix">
                <div class="card-right">
                  <div>
                    <h6 class="float-end">Projects</h6>
                  </div>
                  <div class="m-r-10 m-l-10">
                    <h5 class="font-weight-bold float-end mb-0">154</h5>
                  </div>
                </div>
              </div>
              <apx-chart [series]="smallChart3Options.series!" [chart]="smallChart3Options.chart!"
                [xaxis]="smallChart3Options.xaxis!" [yaxis]="smallChart3Options.yaxis!"
                [colors]="smallChart3Options.colors!" [stroke]="smallChart3Options.stroke!"
                [legend]="smallChart3Options.legend!" [tooltip]="smallChart3Options.tooltip!"
                [dataLabels]="smallChart3Options.dataLabels!"></apx-chart>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="card card-statistic-2">
              <div class="clearfix">
                <div class="card-right">
                  <div>
                    <h6 class="float-end">Employees</h6>
                  </div>
                  <div class="m-r-10 m-l-10">
                    <h5 class="font-weight-bold float-end mb-0">650</h5>
                  </div>
                </div>
              </div>
              <apx-chart [series]="smallChart4Options.series!" [chart]="smallChart4Options.chart!"
                [xaxis]="smallChart4Options.xaxis!" [yaxis]="smallChart4Options.yaxis!"
                [colors]="smallChart4Options.colors!" [stroke]="smallChart4Options.stroke!"
                [legend]="smallChart4Options.legend!" [tooltip]="smallChart4Options.tooltip!"
                [dataLabels]="smallChart4Options.dataLabels!"></apx-chart>
            </div>
          </div>
        </div>
        <div class="card-bnner">
          <div class="row">
            <div class="col-lg-6">
              <img style="height: 135px;" src="assets/images/pages/home-1.png" alt="">
            </div>
            <div class="col-lg-6">
              <h6>Download Reports</h6>
              <p>Download employee salary reports.</p>
              <a [routerLink]="['/admin/dashboard/main']">Download <i class="fas fa-arrow-down"></i> </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
        <div class="card">
          <div class="header">
            <h2>Invoices</h2>
            <button mat-icon-button [matMenuTriggerFor]="menu" class="header-dropdown">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <mat-icon>add_circle_outline</mat-icon>
                <span>Add</span>
              </button>
              <button mat-menu-item disabled>
                <mat-icon>delete_outline</mat-icon>
                <span>Delete</span>
              </button>
              <button mat-menu-item>
                <mat-icon>refresh</mat-icon>
                <span>Refresh</span>
              </button>
            </mat-menu>
          </div>
          <div class="tableBody">
            <div class="table-responsive">
              <table class="table table-hover ">
                <thead>
                  <tr>
                    <th>Invoice No</th>
                    <th>Client Name</th>
                    <th>Due Date</th>
                    <th>Status</th>
                    <th>Total </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><a [routerLink]="['/admin/accounts/invoice']"> #IN7865 </a></td>
                    <td><img src="assets/images/user/user1.jpg" alt="" class="user_img">John Doe</td>
                    <td>12/05/2016 </td>
                    <td>
                      <div class="badge badge-solid-green">Paid</div>
                    </td>
                    <td>
                      $500
                    </td>
                  </tr>
                  <tr>
                    <td><a [routerLink]="['/admin/accounts/invoice']"> #IN2301 </a></td>
                    <td><img src="assets/images/user/user2.jpg" alt="" class="user_img">Sarah Smith</td>
                    <td>31/03/2016 </td>
                    <td>
                      <div class="badge badge-solid-red">Unpaid</div>
                    </td>
                    <td>
                      $372
                    </td>
                  </tr>
                  <tr>
                    <td><a [routerLink]="['/admin/accounts/invoice']"> #IN7239 </a></td>
                    <td><img src="assets/images/user/user3.jpg" alt="" class="user_img">Airi Satou</td>
                    <td>14/04/2017 </td>
                    <td>
                      <div class="badge badge-solid-orange">Partially Paid</div>
                    </td>
                    <td>
                      $1038
                    </td>
                  </tr>
                  <tr>
                    <td><a [routerLink]="['/admin/accounts/invoice']"> #IN1482 </a></td>
                    <td><img src="assets/images/user/user4.jpg" alt="" class="user_img">Angelica Ramos</td>
                    <td>11/08/2017 </td>
                    <td>
                      <div class="badge badge-solid-green">Paid</div>
                    </td>
                    <td>
                      $872
                    </td>
                  </tr>
                  <tr>
                    <td><a [routerLink]="['/admin/accounts/invoice']"> #IN8526 </a></td>
                    <td><img src="assets/images/user/user5.jpg" alt="" class="user_img">Ashton Cox</td>
                    <td>15/02/2018 </td>
                    <td>
                      <div class="badge badge-solid-red">Unpaid</div>
                    </td>
                    <td>
                      $2398
                    </td>
                  </tr>
                  <tr>
                    <td><a [routerLink]="['/admin/accounts/invoice']"> #IN2473 </a></td>
                    <td><img src="assets/images/user/user6.jpg" alt="" class="user_img">Cara Stevens</td>
                    <td>28/01/2017 </td>
                    <td>
                      <div class="badge badge-solid-green">Paid</div>
                    </td>
                    <td>
                      $834
                    </td>
                  </tr>
                  <tr>
                    <td><a [routerLink]="['/admin/accounts/invoice']"> #IN7366 </a></td>
                    <td><img src="assets/images/user/user7.jpg" alt="" class="user_img">Jacob Ryan</td>
                    <td>11/03/2017 </td>
                    <td>
                      <div class="badge badge-solid-orange">Partially Paid</div>
                    </td>
                    <td>
                      $147
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="card">
          <div class="card-body">
            <div class="float-start">
              <h6>Average Daily Bill</h6>
              <h5>129 Dollar <span class="text-muted font-12">(Average)</span></h5>
            </div>
            <div class="mb-5">
              <apx-chart [series]="performanceRateChartOptions.series!" [chart]="performanceRateChartOptions.chart!"
                [xaxis]="performanceRateChartOptions.xaxis!" [stroke]="performanceRateChartOptions.stroke!"
                [colors]="performanceRateChartOptions.colors!" [dataLabels]="performanceRateChartOptions.dataLabels!"
                [legend]="performanceRateChartOptions.legend!" [markers]="performanceRateChartOptions.markers!"
                [grid]="performanceRateChartOptions.grid!" [yaxis]="performanceRateChartOptions.yaxis!"
                [tooltip]="performanceRateChartOptions.tooltip!" [title]="performanceRateChartOptions.title!">
              </apx-chart>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2>Client Survay</h2>
            <button mat-icon-button [matMenuTriggerFor]="menu" class="header-dropdown">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <mat-icon>add_circle_outline</mat-icon>
                <span>Add</span>
              </button>
              <button mat-menu-item disabled>
                <mat-icon>delete_outline</mat-icon>
                <span>Delete</span>
              </button>
              <button mat-menu-item>
                <mat-icon>refresh</mat-icon>
                <span>Refresh</span>
              </button>
            </mat-menu>
          </div>
          <div class="body">
            <apx-chart [series]="areaChartOptions.series!" [chart]="areaChartOptions.chart!"
              [xaxis]="areaChartOptions.xaxis!" [yaxis]="areaChartOptions.yaxis!" [colors]="areaChartOptions.colors!"
              [stroke]="areaChartOptions.stroke!" [legend]="areaChartOptions.legend!" [grid]="areaChartOptions.grid!"
              [tooltip]="areaChartOptions.tooltip!" [dataLabels]="areaChartOptions.dataLabels!"></apx-chart>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2>Support Tickets Survay</h2>
            <button mat-icon-button [matMenuTriggerFor]="menu" class="header-dropdown">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <mat-icon>add_circle_outline</mat-icon>
                <span>Add</span>
              </button>
              <button mat-menu-item disabled>
                <mat-icon>delete_outline</mat-icon>
                <span>Delete</span>
              </button>
              <button mat-menu-item>
                <mat-icon>refresh</mat-icon>
                <span>Refresh</span>
              </button>
            </mat-menu>
          </div>
          <div class="body">
            <apx-chart [series]="barChartOptions.series!" [chart]="barChartOptions.chart!"
              [dataLabels]="barChartOptions.dataLabels!" [plotOptions]="barChartOptions.plotOptions!"
              [responsive]="barChartOptions.responsive!" [xaxis]="barChartOptions.xaxis!" [grid]="barChartOptions.grid!"
              [tooltip]="barChartOptions.tooltip!" [legend]="barChartOptions.legend!" [fill]="barChartOptions.fill!">
            </apx-chart>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</section>