<section class="content">
    <div class="content-block">
        <div class="block-header">
            <!-- breadcrumb -->
            <app-breadcrumb [title]="'Attendance Sheet'" [items]="['Attendance']" [active_item]="'Sheet'">
            </app-breadcrumb>
        </div>
        <div class="row clearfix">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="header">
                        <h2>Attendance Sheet</h2>
                    </div>
                    <div class="body overflow-auto">
                        <table class="table table-bordered border-bottom">
                            <thead>
                                <tr role="row">
                                    <th class="border-bottom-0">
                                        Employee Name</th>
                                    <th class="border-bottom-0 cell-dimention">1</th>
                                    <th class="border-bottom-0 cell-dimention">2</th>
                                    <th class="border-bottom-0 cell-dimention">3</th>
                                    <th class="border-bottom-0 cell-dimention">4</th>
                                    <th class="border-bottom-0 cell-dimention">5</th>
                                    <th class="border-bottom-0 cell-dimention">6</th>
                                    <th class="border-bottom-0 cell-dimention">7</th>
                                    <th class="border-bottom-0 cell-dimention">8</th>
                                    <th class="border-bottom-0 cell-dimention">9</th>
                                    <th class="border-bottom-0 cell-dimention">10</th>
                                    <th class="border-bottom-0 cell-dimention">11</th>
                                    <th class="border-bottom-0 cell-dimention">12</th>
                                    <th class="border-bottom-0 cell-dimention">13</th>
                                    <th class="border-bottom-0 cell-dimention">14</th>
                                    <th class="border-bottom-0 cell-dimention">15</th>
                                    <th class="border-bottom-0 cell-dimention">16</th>
                                    <th class="border-bottom-0 cell-dimention">17</th>
                                    <th class="border-bottom-0 cell-dimention">18</th>
                                    <th class="border-bottom-0 cell-dimention">19</th>
                                    <th class="border-bottom-0 cell-dimention">20</th>
                                    <th class="border-bottom-0 cell-dimention">21</th>
                                    <th class="border-bottom-0 cell-dimention">22</th>
                                    <th class="border-bottom-0 cell-dimention">23</th>
                                    <th class="border-bottom-0 cell-dimention">24</th>
                                    <th class="border-bottom-0 cell-dimention">25</th>
                                    <th class="border-bottom-0 cell-dimention">26</th>
                                    <th class="border-bottom-0 cell-dimention">27</th>
                                    <th class="border-bottom-0 cell-dimention">28</th>
                                    <th class="border-bottom-0 cell-dimention">29</th>
                                    <th class="border-bottom-0 cell-dimention">30</th>
                                    <th class="border-bottom-0 cell-dimention">31</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let user of users">
                                  <td>
                                    <div class="d-flex">
                                      <span class="attnd-user">
                                        <img alt="image" class="msr-2 rounded-circle" src="assets/images/user/user8.jpg">
                                      </span>
                                      <div class="mt-sm-2">
                                        <h6>{{ user.firstName }} {{ user.lastName }}</h6>
                                      </div>
                                    </div>
                                  </td>
                                  <!-- Boucle à travers les présences de l'utilisateur -->
                                  <td *ngFor="let attendance of user.attendances">
                                    <span class="{{ getAttendanceIcon(attendance) }}"></span>
                                  </td>
                                </tr>
                              </tbody>
                              
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>