<section class="content">
    <div class="content-block">
      <div class="block-header">
        <!-- breadcrumb -->
        <app-breadcrumb [title]="'assign mission to employee'" [items]="['Missions']" [active_item]="'assign mission to employee'"></app-breadcrumb>
      </div>
      <div class="row clearfix">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <div class="card">
            <div class="header">
              <h2>assign mission to employee</h2>
            </div>
            <div class="body">
              <form class="m-4" [formGroup]="userForm" (ngSubmit)="onSubmit()">
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">

                      <mat-label>employee email</mat-label>
                      <input matInput formControlName="userId" required>
                        @if (userForm.get('userId')?.hasError('required')) {
                          <mat-error>
                            employeeEmail ID is required
                          </mat-error>
                        }
                      </mat-form-field>
                    </div>
                    </div>
                            <div class="row">
                              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                                <button class="btn-space" [disabled]="!userForm.valid " mat-raised-button
                                color="primary">Submit</button>
                                <button type="button" mat-raised-button color="warn">Cancel</button>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
