<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Add Employee'" [items]="['Employees']" [active_item]="'Add Employee'">
      </app-breadcrumb>
    </div>
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2>Add Employee</h2>
          </div>
          <div class="body">
            <form class="m-4" [formGroup]="docForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>First name</mat-label>
                    <input matInput formControlName="firstName" required>
                      @if (docForm.get('first')?.hasError('required')) {
                        <mat-error>
                          First name is required
                        </mat-error>
                      }
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Last name</mat-label>
                      <input matInput formControlName="lastName">
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                      <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput formControlName="password" type="password" required>
                          @if (docForm.get('password')?.hasError('required')) {
                            <mat-error>
                              password is required
                            </mat-error>
                          }
                        </mat-form-field>
                      </div>
                      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                        <mat-form-field class="example-full-width mb-3" appearance="outline">
                          <mat-label>Role</mat-label>
                          <mat-select formControlName="roleName" required>
                            <mat-option [value]="'Employe'">Employe</mat-option>
                            <mat-option [value]="'Client'">Client</mat-option>
                            <mat-option [value]="'Admin'">Admin</mat-option>
                          </mat-select>                          
                        </mat-form-field>
                        </div>
                      </div>
                  <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                      <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email">
                        </mat-form-field>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                      <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Establishment</mat-label>
                        <input matInput formControlName="etablissement" type="text" required>
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                        <mat-form-field class="example-full-width mb-3" appearance="outline">
                          <mat-label>Join date</mat-label>
                          <input matInput formControlName="dateEntree" type="date">
                          </mat-form-field>
                      </div>
                      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                        <mat-form-field class="example-full-width mb-3" appearance="outline">
                          <mat-label>Function</mat-label>
                          <input matInput formControlName="fonction" type="text" required>
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                          <mat-form-field class="example-full-width mb-3" appearance="outline">
                            <mat-label>Telephone number</mat-label>
                            <input matInput formControlName="Tel" type="text">
                            </mat-form-field>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                          <mat-form-field class="example-full-width mb-3" appearance="outline">
                            <mat-label>Secondary Email</mat-label>
                            <input matInput formControlName="EmailSecondaire" type="email" required>
                            </mat-form-field>
                          </div>
                        </div>
                      <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                              <mat-form-field class="example-full-width mb-3" appearance="outline">
                                <mat-label>Secondary Telephone Number</mat-label>
                                <input matInput formControlName="TelSecondaire" type="text" required>
                              </mat-form-field>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                              <mat-form-field class="example-full-width mb-3" appearance="outline">
                                <mat-label>Identification Number</mat-label>
                                <input matInput formControlName="Matricule" type="text" required>
                              </mat-form-field>
                            </div>
                      </div>
                        
                              <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                                    <mat-label>Leave balance</mat-label>
                                    <input matInput formControlName="soldeConges">
                                  </mat-form-field>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                                    <mat-label>sick leave balance</mat-label>
                                    <input matInput formControlName="soldeMaladie">
                                  </mat-form-field>
                                </div>
                              </div>
                               <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                                  <mat-label>Upload Image</mat-label>
                                  <app-file-upload formControlName="uploadImg"></app-file-upload>
                                </div>
                              </div> 
                              <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                                  <button class="btn-space" [disabled]="!docForm.valid " mat-raised-button
                                  color="primary">Submit</button>
                                  <button type="button" mat-raised-button color="warn">Cancel</button>
                                </div>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
                