.title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .section-title {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .policy-card {
    margin-bottom: 20px;
  }
  
  .policy-item {
    margin-bottom: 10px;
  }
  .policy-card {
    box-shadow: 0 4px 8px rgba(0, 0, 255, 0.1);
  }
  
  .allowed-days-card {
    box-shadow: 0 2px 4px rgba(0, 0, 255, 0.1);
    margin-top: 10px;
  }
  
  .blue-text {
    color: #000080; /* Bleu foncé */
    font-weight: bold;
  }
  .policy-card {
    box-shadow: 0 4px 8px rgba(0, 0, 255, 0.1);
    margin-bottom: 20px; /* Ajouter une marge en bas */
    max-width: 100%; /* La largeur maximale de la carte */
  }
  
  .blue-text {
    color: #000080; /* Bleu foncé */
  }
  .black-bold {
    color: black; /* Couleur du texte en noir */
    font-weight: bold; /* Texte en gras */
  }
  .bold {
    font-weight: bold;
  }
  
  .center {
    text-align: center;
  }
  